<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130805577097-42dtnmjgh57cb0ck7h05fv59qhao673p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130805577097-42dtnmjgh57cb0ck7h05fv59qhao673p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>130805577097-1ljljvn9os6g6q3fr6t7h15a62efmn6p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB8ju8DCNwvcRcHNJsCmvJ-D1NIBwB_hQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>130805577097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oximsoft.theEndodontistApp</string>
	<key>PROJECT_ID</key>
	<string>dent1-57a36</string>
	<key>STORAGE_BUCKET</key>
	<string>dent1-57a36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130805577097:ios:a4d7a7239c8fc62f88dd58</string>
</dict>
</plist>